<div data-controller="tabs"
     data-tabs-active-tab-class="tab"
     data-tabs-inactive-tab-class="inactive">

  <%= select_tag nil, options_for_select(component.tabs), class: "sm:hidden mb-4", data: {action: "tabs#change"} %>

  <nav class="tab-nav" aria-label="Tabs">
    <% component.tabs.each do |tab| %>
      <a href="#"
          data-tabs-target="tab"
          data-action="click->tabs#change:prevent">
        <%= tab %>
      </a>
    <% end %>
  </nav>

  <% component.panels.each do |panel| %>
    <div class="hidden" data-tabs-target="panel">
      <%= panel %>
    </div>
  <% end %>
</div>
