<% content_for :title, "Action Cable" %>
<% content_for :subtitle do %>
  Action Cable provides a realtime websocket connection between the browser and your Rails app backed by a Redis pubsub connection.
<% end %>

<%= h2_with_anchor "Authentication" %>

<p>Jumpstart Pro comes with Action Cable connections preconfigured to work with Devise's authentication mechanism called Warden. It will also tag the logs with the User ID for ease of debugging.</p>

<%= h2_with_anchor "Using Action Cable" %>

<p>You can run <code>rails g channel my_channel</code> to create a new Action Cable channel. This will generate the Ruby class and Javascript file for your channel.</p>
<p>Check out the <%= link_to "GoRails screencast episodes on Action Cable", "https://gorails.com/episodes/tagged/ActionCable", target: :_blank, class: "link" %> and the <%= link_to "Action Cable Rails Guide", "https://edgeguides.rubyonrails.org/action_cable_overview.html", target: :_blank, class: "link" %> for more information on how to use Action Cable.</p>
