<% content_for :title, "Pills" %>

<%= h2_with_anchor "Default" %>

<%= render "jumpstart/docs/snippet" do %>
<div class="pill">Default</div>
<div class="pill pill-primary">Primary</div>
<div class="pill pill-secondary">Secondary</div>
<div class="pill pill-tertiary">Tertiary</div>
<div class="pill pill-accent">Accent</div>
<% end %>

<%= h2_with_anchor "Outlined" %>

<%= render "jumpstart/docs/snippet" do %>
<div class="pill pill-outline">Default</div>
<div class="pill pill-primary pill-outline">Primary</div>
<div class="pill pill-secondary pill-outline">Secondary</div>
<div class="pill pill-tertiary pill-outline">Tertiary</div>
<div class="pill pill-accent pill-outline">Accent</div>
<% end %>
