<% content_for :title, "Wells" %>

<%= h2_with_anchor "Default Well", header_class: "mb-4" %>

<%= render "jumpstart/docs/snippet" do %>
  <div class="well">
    <h2>Empty state well title</h2>

    <p>Description for the empty state running across a couple of lines. Nullam quis risus eget urn. Posuere consectetur est at lobortis.</p>

    <a href="#" class="link">Learn More</a>
  </div>
<% end %>

<%= h2_with_anchor "Large Well", header_class: "mb-4" %>

<%= render "jumpstart/docs/snippet" do %>
  <div class="well well-lg">
    <h2>Empty state well title</h2>

    <p>Description for the empty state running across a couple of lines. Nullam quis risus eget urn. Posuere consectetur est at lobortis.</p>

    <a href="#" class="link">Learn More</a>
  </div>
<% end %>
